body {
  overflow-x: hidden;
}

.btn.btn-outline-primary,.btn.btn-primary {
  color:#DF5E88;
  border: 2px solid #DF5E88;
  background-color: white;
}

.btn.btn-outline-primary:hover,.btn.btn-primary:hover {
  color:white;
  border: 2px solid #DF5E88;
  background-color: #DF5E88;
}


.titulo-produto-categoria {
  text-align: center;
  margin-top: 40px;
}

.botao-cadastrar {
  display        : flex;
  justify-content: center;
  margin-top     : 50px;
}

.tabela-produtos-categorias {
  width     : 90%;
  margin    : auto;
  margin-top: 50px;
}

.formulario-produto-categoria {
  width     : 60%;
  margin    : auto;
  margin-top: 50px;
}

.botao-cadastrar-novo, .mensagem-sucesso {
  display        : flex;
  justify-content: center;
  margin-top     : 50px;
  text-align: center;

}

.botao-cadastro {
  width: 50%;
}

@media only screen and (max-width: 768px){
  body{
      overflow-x: hidden;
  }

}